USE [Web_music]
GO
/****** Object:  Table [dbo].[ALBUM]    Script Date: 5/10/2023 12:08:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBUM](
	[ID_ALBUM] [int] IDENTITY(1,1) NOT NULL,
	[NAME_ALBUM] [nvarchar](50) NULL,
	[ID_SINGER] [int] NULL,
	[ID_GENRE] [int] NULL,
	[PICTURE_ALBUM] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ALBUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENRES]    Script Date: 5/10/2023 12:08:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRES](
	[ID_GENRE] [int] IDENTITY(1,1) NOT NULL,
	[NAME_GENRE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GENRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MYLIBRARY]    Script Date: 5/10/2023 12:08:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MYLIBRARY](
	[ID_USER] [int] NOT NULL,
	[ID_SONG] [int] NOT NULL,
 CONSTRAINT [KHOACHINH] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC,
	[ID_SONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINGER]    Script Date: 5/10/2023 12:08:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINGER](
	[ID_SINGER] [int] IDENTITY(1,1) NOT NULL,
	[NAME_SINGER] [nvarchar](50) NULL,
	[PICTURE_SINGER] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SINGER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SONG]    Script Date: 5/10/2023 12:08:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SONG](
	[ID_SONG] [int] IDENTITY(1,1) NOT NULL,
	[ID_SINGER] [int] NULL,
	[ID_ALBUM] [int] NULL,
	[ID_GENRE] [int] NULL,
	[NAME_SONG] [nvarchar](50) NULL,
	[PATH_SONG] [nvarchar](max) NULL,
	[PICTURE_SONG] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 5/10/2023 12:08:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[NAME_USER] [nvarchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[EMAIL] [varchar](100) NULL,
	[AVARTAR] [nvarchar](max) NULL,
	[decentralization] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALBUM] ON 

INSERT [dbo].[ALBUM] ([ID_ALBUM], [NAME_ALBUM], [ID_SINGER], [ID_GENRE], [PICTURE_ALBUM]) VALUES (22, N'Tuyện ngắn', 3, 9, N'Image/bóng mưa.jfif')
INSERT [dbo].[ALBUM] ([ID_ALBUM], [NAME_ALBUM], [ID_SINGER], [ID_GENRE], [PICTURE_ALBUM]) VALUES (83, N'Tháng mấy em nhớ anh', 3, 9, N'Image/bóng mưa.jfif')
INSERT [dbo].[ALBUM] ([ID_ALBUM], [NAME_ALBUM], [ID_SINGER], [ID_GENRE], [PICTURE_ALBUM]) VALUES (84, N'Mỉm cười cho qua', 6, 1, N'Image/mỉm cười cho qua.jpg')
SET IDENTITY_INSERT [dbo].[ALBUM] OFF
GO
SET IDENTITY_INSERT [dbo].[GENRES] ON 

INSERT [dbo].[GENRES] ([ID_GENRE], [NAME_GENRE]) VALUES (1, N'Pop')
INSERT [dbo].[GENRES] ([ID_GENRE], [NAME_GENRE]) VALUES (2, N'Rock')
INSERT [dbo].[GENRES] ([ID_GENRE], [NAME_GENRE]) VALUES (3, N'Jazz')
SET IDENTITY_INSERT [dbo].[GENRES] OFF
GO
INSERT [dbo].[MYLIBRARY] ([ID_USER], [ID_SONG]) VALUES (4, 22)
INSERT [dbo].[MYLIBRARY] ([ID_USER], [ID_SONG]) VALUES (13, 22)
INSERT [dbo].[MYLIBRARY] ([ID_USER], [ID_SONG]) VALUES (15, 22)
GO
SET IDENTITY_INSERT [dbo].[SINGER] ON 

INSERT [dbo].[SINGER] ([ID_SINGER], [NAME_SINGER], [PICTURE_SINGER]) VALUES (1, N'Đàm Vĩnh Hưng', N'Image/album xin lỗi tình yêu.jpg')
INSERT [dbo].[SINGER] ([ID_SINGER], [NAME_SINGER], [PICTURE_SINGER]) VALUES (2, N'Sơn Tùng M-TP', N'Image/anh sai rồi.jfif')
INSERT [dbo].[SINGER] ([ID_SINGER], [NAME_SINGER], [PICTURE_SINGER]) VALUES (3, N'Hà Anh Tuấn', N'Image/người con gái ta thương.jpg')
SET IDENTITY_INSERT [dbo].[SINGER] OFF
GO
SET IDENTITY_INSERT [dbo].[SONG] ON 

INSERT [dbo].[SONG] ([ID_SONG], [ID_SINGER], [ID_ALBUM], [ID_GENRE], [NAME_SONG], [PATH_SONG], [PICTURE_SONG]) VALUES (22, 3, 22, 9, N'Xuân thì', N'Song/Mp3-HaAnhTuan-TaiNhacMienPhi.Net - Xuân Thì.mp3', N'Image/tiếng gió xon xao.jpg')
INSERT [dbo].[SONG] ([ID_SONG], [ID_SINGER], [ID_ALBUM], [ID_GENRE], [NAME_SONG], [PATH_SONG], [PICTURE_SONG]) VALUES (23, 3, 22, 9, N'Ngày chưa giông bão', N'Song/Mp3-HaAnhTuan-TaiNhacMienPhi.Net - Ngày Chưa Giông Bão.mp3', N'Image/có chàng trai viết lên cây.jpg')
INSERT [dbo].[SONG] ([ID_SONG], [ID_SINGER], [ID_ALBUM], [ID_GENRE], [NAME_SONG], [PATH_SONG], [PICTURE_SONG]) VALUES (24, 3, 83, 9, N'Tháng mấy em nhớ anh', N'Song/Mp3-HaAnhTuan-TaiNhacMienPhi.Net - Tháng Mấy Em Nhớ Anh_.mp3', N'Image/tháng mấy em nhớ anh.jpg')
SET IDENTITY_INSERT [dbo].[SONG] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID_USER], [NAME_USER], [PASSWORD], [EMAIL], [AVARTAR], [decentralization]) VALUES (1, N'admin', N'admin', N'admin@gmail.com', NULL, 1)
INSERT [dbo].[USERS] ([ID_USER], [NAME_USER], [PASSWORD], [EMAIL], [AVARTAR], [decentralization]) VALUES (2, N'Khanh', N'Khanh', N'Khanh@gmail.com', NULL, 0)
INSERT [dbo].[USERS] ([ID_USER], [NAME_USER], [PASSWORD], [EMAIL], [AVARTAR], [decentralization]) VALUES (3, N'Tai', N'Tai', N'Tai@gmail.com', NULL, 0)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_ALBUMGENRE] FOREIGN KEY([ID_GENRE])
REFERENCES [dbo].[GENRES] ([ID_GENRE])
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [FK_ALBUMGENRE]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_ALBUMSINGER] FOREIGN KEY([ID_SINGER])
REFERENCES [dbo].[SINGER] ([ID_SINGER])
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [FK_ALBUMSINGER]
GO
ALTER TABLE [dbo].[MYLIBRARY]  WITH CHECK ADD  CONSTRAINT [FK_MYBLIBRARY_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[MYLIBRARY] CHECK CONSTRAINT [FK_MYBLIBRARY_USER]
GO
ALTER TABLE [dbo].[MYLIBRARY]  WITH CHECK ADD  CONSTRAINT [FK_MYLIBRARY_SONG] FOREIGN KEY([ID_SONG])
REFERENCES [dbo].[SONG] ([ID_SONG])
GO
ALTER TABLE [dbo].[MYLIBRARY] CHECK CONSTRAINT [FK_MYLIBRARY_SONG]
GO
ALTER TABLE [dbo].[SONG]  WITH CHECK ADD  CONSTRAINT [FK_SONGALBUM] FOREIGN KEY([ID_ALBUM])
REFERENCES [dbo].[ALBUM] ([ID_ALBUM])
GO
ALTER TABLE [dbo].[SONG] CHECK CONSTRAINT [FK_SONGALBUM]
GO
ALTER TABLE [dbo].[SONG]  WITH CHECK ADD  CONSTRAINT [FK_SONGGENRE] FOREIGN KEY([ID_GENRE])
REFERENCES [dbo].[GENRES] ([ID_GENRE])
GO
ALTER TABLE [dbo].[SONG] CHECK CONSTRAINT [FK_SONGGENRE]
GO
ALTER TABLE [dbo].[SONG]  WITH CHECK ADD  CONSTRAINT [FK_SONGSINGER] FOREIGN KEY([ID_SINGER])
REFERENCES [dbo].[SINGER] ([ID_SINGER])
GO
ALTER TABLE [dbo].[SONG] CHECK CONSTRAINT [FK_SONGSINGER]
GO
