USE [Web_music]
GO
/****** Object:  Table [dbo].[ALBUM]    Script Date: 6/9/2023 1:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBUM](
	[ID_ALBUM] [int] IDENTITY(1,1) NOT NULL,
	[NAME_ALBUM] [nvarchar](50) NULL,
	[ID_SINGER] [int] NULL,
	[PICTURE_ALBUM] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ALBUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPOSER]    Script Date: 6/9/2023 1:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPOSER](
	[ID_COMPOSER] [int] IDENTITY(1,1) NOT NULL,
	[NAME_COMPOSER] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMPOSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENRES]    Script Date: 6/9/2023 1:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRES](
	[ID_GENRE] [int] IDENTITY(1,1) NOT NULL,
	[NAME_GENRE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GENRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAYLIST]    Script Date: 6/9/2023 1:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAYLIST](
	[ID_PLAYLIST] [int] IDENTITY(1,1) NOT NULL,
	[NAME_PLAYLIST] [nvarchar](200) NULL,
	[ID_USER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PLAYLIST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING]    Script Date: 6/9/2023 1:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING](
	[ID_USER] [int] NOT NULL,
	[ID_SONG] [int] NOT NULL,
	[DATE_RATE] [date] NULL,
	[RATING] [int] NULL,
	[VIEWS] [int] NULL,
 CONSTRAINT [RATING_PK] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC,
	[ID_SONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINGER]    Script Date: 6/9/2023 1:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINGER](
	[ID_SINGER] [int] IDENTITY(1,1) NOT NULL,
	[NAME_SINGER] [nvarchar](50) NULL,
	[PICTURE_SINGER] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SINGER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SONG]    Script Date: 6/9/2023 1:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SONG](
	[ID_SONG] [int] IDENTITY(1,1) NOT NULL,
	[ID_SINGER] [int] NULL,
	[ID_ALBUM] [int] NULL,
	[ID_GENRE] [int] NULL,
	[NAME_SONG] [nvarchar](50) NULL,
	[PATH_SONG] [nvarchar](max) NULL,
	[PICTURE_SONG] [nvarchar](max) NULL,
	[ID_COMPOSER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SONGPLAYLIST]    Script Date: 6/9/2023 1:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SONGPLAYLIST](
	[ID_PLAYLIST] [int] NOT NULL,
	[ID_SONG] [int] NOT NULL,
 CONSTRAINT [PK_KHOCHINH] PRIMARY KEY CLUSTERED 
(
	[ID_PLAYLIST] ASC,
	[ID_SONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 6/9/2023 1:16:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[NAME_USER] [nvarchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[EMAIL] [varchar](100) NULL,
	[AVARTAR] [nvarchar](max) NULL,
	[decentralization] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALBUM] ON 

INSERT [dbo].[ALBUM] ([ID_ALBUM], [NAME_ALBUM], [ID_SINGER], [PICTURE_ALBUM]) VALUES (22, N'Tuyện ngắn', 3, N'Image/bóng mưa.jfif')
INSERT [dbo].[ALBUM] ([ID_ALBUM], [NAME_ALBUM], [ID_SINGER], [PICTURE_ALBUM]) VALUES (83, N'Tháng mấy em nhớ anh', 3, N'Image/bóng mưa.jfif')
INSERT [dbo].[ALBUM] ([ID_ALBUM], [NAME_ALBUM], [ID_SINGER], [PICTURE_ALBUM]) VALUES (84, N'Mỉm cười cho qua', 6, N'Image/mỉm cười cho qua.jpg')
SET IDENTITY_INSERT [dbo].[ALBUM] OFF
GO
SET IDENTITY_INSERT [dbo].[COMPOSER] ON 

INSERT [dbo].[COMPOSER] ([ID_COMPOSER], [NAME_COMPOSER]) VALUES (1, N'Lữ Liên')
INSERT [dbo].[COMPOSER] ([ID_COMPOSER], [NAME_COMPOSER]) VALUES (2, N'Ngân Giang')
INSERT [dbo].[COMPOSER] ([ID_COMPOSER], [NAME_COMPOSER]) VALUES (3, N'Phan Trần')
SET IDENTITY_INSERT [dbo].[COMPOSER] OFF
GO
SET IDENTITY_INSERT [dbo].[GENRES] ON 

INSERT [dbo].[GENRES] ([ID_GENRE], [NAME_GENRE]) VALUES (1, N'Nhạc trẻ')
INSERT [dbo].[GENRES] ([ID_GENRE], [NAME_GENRE]) VALUES (2, N'Nhạc remix')
INSERT [dbo].[GENRES] ([ID_GENRE], [NAME_GENRE]) VALUES (3, N'Nhạc trữ tình')
SET IDENTITY_INSERT [dbo].[GENRES] OFF
GO
SET IDENTITY_INSERT [dbo].[PLAYLIST] ON 

INSERT [dbo].[PLAYLIST] ([ID_PLAYLIST], [NAME_PLAYLIST], [ID_USER]) VALUES (1, N'Danh sách ', 2)
INSERT [dbo].[PLAYLIST] ([ID_PLAYLIST], [NAME_PLAYLIST], [ID_USER]) VALUES (4, N'Hiep', 2)
INSERT [dbo].[PLAYLIST] ([ID_PLAYLIST], [NAME_PLAYLIST], [ID_USER]) VALUES (5, N'Danh sach 3', 2)
SET IDENTITY_INSERT [dbo].[PLAYLIST] OFF
GO
INSERT [dbo].[RATING] ([ID_USER], [ID_SONG], [DATE_RATE], [RATING], [VIEWS]) VALUES (2, 2, NULL, 5, NULL)
INSERT [dbo].[RATING] ([ID_USER], [ID_SONG], [DATE_RATE], [RATING], [VIEWS]) VALUES (2, 3, CAST(N'2023-06-08' AS Date), 5, NULL)
INSERT [dbo].[RATING] ([ID_USER], [ID_SONG], [DATE_RATE], [RATING], [VIEWS]) VALUES (2, 4, NULL, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[SINGER] ON 

INSERT [dbo].[SINGER] ([ID_SINGER], [NAME_SINGER], [PICTURE_SINGER]) VALUES (1, N'Đàm Vĩnh Hưng', N'Image/cs_damvinhhung.jpg')
INSERT [dbo].[SINGER] ([ID_SINGER], [NAME_SINGER], [PICTURE_SINGER]) VALUES (2, N'Sơn Tùng M-TP', N'Image/cs_mtp.jpg')
INSERT [dbo].[SINGER] ([ID_SINGER], [NAME_SINGER], [PICTURE_SINGER]) VALUES (3, N'Hà Anh Tuấn', N'Image/cs_haanhtuan.jpg')
SET IDENTITY_INSERT [dbo].[SINGER] OFF
GO
SET IDENTITY_INSERT [dbo].[SONG] ON 

INSERT [dbo].[SONG] ([ID_SONG], [ID_SINGER], [ID_ALBUM], [ID_GENRE], [NAME_SONG], [PATH_SONG], [PICTURE_SONG], [ID_COMPOSER]) VALUES (1, 1, NULL, 2, N'Chỉ còn mình anh', N'Song/chi_con_minh_anh.mp3', N'Image/cs_damvinhhung.jpg', 1)
INSERT [dbo].[SONG] ([ID_SONG], [ID_SINGER], [ID_ALBUM], [ID_GENRE], [NAME_SONG], [PATH_SONG], [PICTURE_SONG], [ID_COMPOSER]) VALUES (2, 1, NULL, 3, N'Chờ đông', N'Song/cho_dong.mp3', N'Image/cs_damvinhhung.jpg', 2)
INSERT [dbo].[SONG] ([ID_SONG], [ID_SINGER], [ID_ALBUM], [ID_GENRE], [NAME_SONG], [PATH_SONG], [PICTURE_SONG], [ID_COMPOSER]) VALUES (3, 1, NULL, 3, N'Cho vừa lòng em', N'Song/cho_vua_long_em.mp3', N'Image/cs_damvinhhung.jpg', 3)
GO
SET IDENTITY_INSERT [dbo].[SONG] OFF
GO
INSERT [dbo].[SONGPLAYLIST] ([ID_PLAYLIST], [ID_SONG]) VALUES (1, 1)
INSERT [dbo].[SONGPLAYLIST] ([ID_PLAYLIST], [ID_SONG]) VALUES (1, 2)
INSERT [dbo].[SONGPLAYLIST] ([ID_PLAYLIST], [ID_SONG]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID_USER], [NAME_USER], [PASSWORD], [EMAIL], [AVARTAR], [decentralization]) VALUES (1, N'admin', N'admin', N'admin@gmail.com', NULL, NULL)
INSERT [dbo].[USERS] ([ID_USER], [NAME_USER], [PASSWORD], [EMAIL], [AVARTAR], [decentralization]) VALUES (2, N'nguyenhoanghiep', N'123456', NULL, NULL, NULL)
INSERT [dbo].[USERS] ([ID_USER], [NAME_USER], [PASSWORD], [EMAIL], [AVARTAR], [decentralization]) VALUES (3, N'caolambaokhanh', N'123456', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_ALBUMSINGER] FOREIGN KEY([ID_SINGER])
REFERENCES [dbo].[SINGER] ([ID_SINGER])
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [FK_ALBUMSINGER]
GO
ALTER TABLE [dbo].[PLAYLIST]  WITH CHECK ADD  CONSTRAINT [FK_PLAYLISTUSER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
GO
ALTER TABLE [dbo].[PLAYLIST] CHECK CONSTRAINT [FK_PLAYLISTUSER]
GO
ALTER TABLE [dbo].[SONG]  WITH CHECK ADD  CONSTRAINT [FK_SONGALBUM] FOREIGN KEY([ID_ALBUM])
REFERENCES [dbo].[ALBUM] ([ID_ALBUM])
GO
ALTER TABLE [dbo].[SONG] CHECK CONSTRAINT [FK_SONGALBUM]
GO
ALTER TABLE [dbo].[SONG]  WITH CHECK ADD  CONSTRAINT [FK_SONGCOMPOSER] FOREIGN KEY([ID_COMPOSER])
REFERENCES [dbo].[COMPOSER] ([ID_COMPOSER])
GO
ALTER TABLE [dbo].[SONG] CHECK CONSTRAINT [FK_SONGCOMPOSER]
GO
ALTER TABLE [dbo].[SONG]  WITH CHECK ADD  CONSTRAINT [FK_SONGGENRE] FOREIGN KEY([ID_GENRE])
REFERENCES [dbo].[GENRES] ([ID_GENRE])
GO
ALTER TABLE [dbo].[SONG] CHECK CONSTRAINT [FK_SONGGENRE]
GO
ALTER TABLE [dbo].[SONG]  WITH CHECK ADD  CONSTRAINT [FK_SONGSINGER] FOREIGN KEY([ID_SINGER])
REFERENCES [dbo].[SINGER] ([ID_SINGER])
GO
ALTER TABLE [dbo].[SONG] CHECK CONSTRAINT [FK_SONGSINGER]
GO
