@{
    Layout = null;
}
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        Web music
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/boostrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/access/css/style.css" rel="stylesheet" />
    <link href="~/access/css/stylePlayer.css" rel="stylesheet" />
    <link rel="icon" href="https://th.bing.com/th/id/OIP._vB63WgVAFeTG-0L1NeriAHaHa?pid=ImgDet&rs=1" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/9b2b3eabfc.js" crossorigin="anonymous">
    </script>
    <script nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js">
    </script>
    <link href="~/access/css/stylePlayer.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="max-width: 100%;">
            <div class="col-md-2 bg-dark menu-bar list-music-item" style="max-height: 100%;">
                <div class="container">
                    <div class="row">
                        <h2 style="color: white;">
                            <i class="fa-sharp fa-solid fa-hippo">
                            </i> Music
                        </h2>
                    </div>
                </div>
                <hr style="color: white;">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark">
                        <div class="collapse navbar-collapse" id="Menu_user">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav navbar-brand mt-1" style="color: white;" aria-current="page" href="/HomeUser/Index">
                                        <h5>
                                            <i class="fa-solid fa-house">
                                            </i> Trang chủ
                                        </h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav navbar-brand mt-3" style="color: white;" aria-current="page" href="/Search/Index">
                                        <h5>
                                            <i class="fa-solid fa-magnifying-glass">
                                            </i> Tìm kiếm
                                        </h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav navbar-brand mt-3" style="color: white;" aria-current="page" href="/Playlist/Index">
                                        <h5>
                                            <i class="fa-sharp fa-solid fa-music">
                                            </i> Danh sách phát
                                        </h5>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav navbar-brand mt-3" style="color: white;" aria-current="page" href="#" onclick="logout()">
                                        <h5>
                                            <i class="fa-sharp fa-solid fa-right-from-bracket">
                                            </i> Đăng xuất
                                        </h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Content -->
            <div class="col-md-10 content">
                <div class="row mt-2 ">
                    <div class="col-10">

                    </div>
                    @{
                        string username = "";
                        if (Session["username"] != null)
                        {
                            username = Session["username"].ToString();
                        }

                    }

                    <div class="col-2">
                        <button class="btn btn-info p-card" style="width:100%">@username</button>
                    </div>
                </div>
                <hr>
                <!-- Danh sách bài hát -->
                <div class="container">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal" onclick="clearTextBox();">Thêm danh sách phát</button><br /><br />
                    <div class="row" id="body">
                        <div class="col-2">
                            <div class="card" style="background-color:#e7c0c0; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);">
                                <a class="align-self-center" href="#">
                                    <img src="~/Image//playlist.jpg" class="align-self-center thumb" style="padding-top:10px">
                                </a>
                                <div class="container-fluid">
                                    <div class="row">
                                        <h5 class=" card-text text-center p-card" style="width:100%; cursor:default;"><i class="fa-sharp fa-solid fa-pen" style="cursor:pointer;"></i>  Hà Anh tuấn </h5>
                                    </div>
                                    <div class="row">
                                        <p class=" card-text text-center p-card" style="width:100%; cursor:default;"> Số bài hát: </p>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-danger"><i class="fa-sharp fa-solid fa-trash"></i> Xóa</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-bs-dismiss="modal">×</button>
                                <h4 class="modal-title" id="myModalLabeladd">Thêm danh sách phát</h4>
                                <h4 class="modal-title" style="display:none;" id="myModalLabelupdate">Sửa danh sách phát</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="Name">Tên danh sách phát</label>
                                        <input type="text" class="form-control" id="Name" placeholder="Tên danh sách phát" />
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <script src="~/access/js/jquery.js">
    </script>
    <script src="~/access/js/popper.min.js">
    </script>
    <script src="~/boostrap/js/bootstrap.js">
    </script>
    <script src="~/access/js/playlist.js"></script>
</body>
</html>
