
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Web music</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/boostrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/access/css/style.css" rel="stylesheet" />
    <link href="~/access/css/stylePlayer.css" rel="stylesheet" />
    <link rel="icon" href="https://th.bing.com/th/id/OIP._vB63WgVAFeTG-0L1NeriAHaHa?pid=ImgDet&rs=1" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/9b2b3eabfc.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="max-width: 100%;">
            <div class="col-md-2 bg-dark menu-bar list-music-item" style="max-height: 100%;">
                <div class="container">
                    <div class="row">
                        <h2 style="color: white;">
                            <i class="fa-sharp fa-solid fa-hippo">
                            </i> Music
                        </h2>
                    </div>
                </div>
                <hr style="color: white;">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark">
                        <div class="collapse navbar-collapse" id="Menu_user">
                            <ul class="nav flex-column">
                                <li class="nav-item" style="background-color: #95a5a6;">
                                    <a class="nav navbar-brand mt-3" style="color: white;" aria-current="page" href="~/Song/Index">
                                        <h5>
                                            <i class="fa-sharp fa-solid fa-music">
                                            </i> Quản lý nhạc
                                        </h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav navbar-brand mt-3" style="color: white;" aria-current="page" href="/Singer/Index">
                                        <h5>
                                            <i class="fa-solid fa-user-tie"></i> Quản lý ca sĩ
                                        </h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav navbar-brand mt-3" style="color: white;" aria-current="page" href="/Composer/Index">
                                        <h5>
                                            <i class="fa-solid fa-user-large"></i> Quản lí nhạc sĩ
                                        </h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav navbar-brand mt-3" style="color: white;" aria-current="page" href="/Genre/Index">
                                        <h5>
                                            <i class="fa-sharp fa-solid fa-music">
                                            </i> Quản lí thể loại
                                        </h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav navbar-brand mt-3" style="color: white;" aria-current="page" href="/Album/Index">
                                        <h5>
                                            <i class="fa-solid fa-indent"></i> Quản lí album
                                        </h5>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav navbar-brand mt-3" style="color: white;" aria-current="page" href="#" onclick="logout()">
                                        <h5>
                                            <i class="fa-sharp fa-solid fa-right-from-bracket">
                                            </i> Đăng xuất
                                        </h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Content -->
            <div class="col-md-10 content">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <div class="col-md-11">
                            <div class="search-music" role="search" style="margin-right: 10px;">
                                <input class="me-2 search-input" type="search" placeholder="Nhập tên bài hát cần tìm" aria-label="Search" id="search">
                                <a class="btn btn-outline-success search-btn">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-info">Admin</button>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Danh sách bài hát -->
                <div class="container">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal" onclick="clearTextBox();">Thêm bài hát</button><br /><br />
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Tên bài hát
                                </th>
                                <th>
                                    Tên ca sĩ
                                </th>
                                <th>
                                    Tên tác giả
                                </th>
                                <th>
                                    Tên thể loại
                                </th>
                                <th>
                                    Tên Album
                                </th>
                                <th>
                                    Ảnh
                                </th>
                                <th>
                                    Thao tác
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr>
                                <td>
                                    <img src="~/Image/bui_anh_tuan.jpg" class="img-small" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pagination justify-content-center" id="phantrang">
                        </ul>
                    </nav>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-bs-dismiss="modal">×</button>
                                <h4 class="modal-title" id="myModalLabeladd">Thêm bài hát</h4>
                                <h4 class="modal-title" style="display:none;" id="myModalLabelupdate">Sửa bài hát</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="ID">ID</label>
                                        <input type="text" class="form-control" id="ID" placeholder="Id" disabled="disabled" />
                                    </div>
                                    <div class="form-group">
                                        <label for="Name">Tên ca sĩ</label>

                                        <input type="text" class="form-control" id="Name" placeholder="Tên bài hát" />
                                    </div>
                                    <div class="form-group">
                                        <label for="Name">Tên ca sĩ</label>
                                        <select class="form-select" aria-label="Default select example" data-mdb-filter="true" id="select-casi">
                                            <option selected>Chọn ca sĩ</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Name">Tên ca sĩ</label>
                                        <select class="form-select" aria-label="Default select example" data-mdb-filter="true" id="select-tacgia">
                                            <option selected>Chọn tác giả</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Name">Tên thể loại</label>

                                        <select class="form-select" aria-label="Default select example" id="select-theloai">
                                            <option selected>Chọn thể loại</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Name">Tên album</label>
                                        <select class="form-select" aria-label="Default select example" id="select-album">
                                            <option selected>Chọn album</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="formFile" class="form-label">Chọn ảnh</label>
                                        <input class="form-control" type="file" id="image" multiple="multiple">
                                    </div>
                                    <div class="form-group">
                                        <label for="formFile" class="form-label">Chọn file bài hát</label>
                                        <input class="form-control" type="file" id="song" multiple="multiple">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.6.4.min.js"></script>
    <script src="~/access/js/popper.min.js"></script>
    <script src="~/boostrap/js/bootstrap.min.js"></script>
    <script src="~/access/js/dselect.js"></script>

    <script src="~/access/js/song.js"></script>
</body>
</html>
