
@{
    Layout = null;
}
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        Web music
    </title>

</head>
<body>


        <p><a href="@ViewBag.Url" > facebook</a></p>

</body>
</html>
