

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Music</title>
    <link href="~/access/css/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap">
</head>
<body>
    <div class="login">
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <div class="logo">
            <p>
                <i class="fa-solid fa-music"></i>
                Music
            </p>
        </div>

        <!-- login with -->
        <div class="container">
            <p class="container__header">To continue, log in to Music.</p>
            <div class="container__login-with" >
                <!-- button -->
                <div class="fb-login-button"
                     data-width="" data-size="large"
                     data-button-type="continue_with"
                     data-layout="rounded"
                     data-auto-logout-link="false"
                     data-use-continue-as="false"
                     data-onlogin="checkLoginState();">
                </div>
                <button class="btn btn--fb btn--fb--signup" onclick="LoginFacebook()">
                    <i class="icon fa-brands fa-square-facebook"></i>
                    Đăng nhập với facebook
                </button>
            </div>
            <div class="line" id="sperator">
                <hr>
                <p>OR</p>
                <hr>
            </div>

            <!-- login with account -->
            <div>
                <!-- form login -->
                <label id="successnotify" style="color:green" hidden>Tài khoảng đã được tạo</label>
                <script>
                    if (@ViewBag.Message == "Yes"){
                        var a = document.getElementById("#successnotify")
                        a.css('display', 'block')
                    }
                </script>
                <label id="notify" style="color:red" hidden>Tên tài khoản hoặc mật khẩu không đúng</label>
                <div class="user-address">
                    <p class="form__user">Tên tài khoảng </p>
                    <label class="form__user" id="notifyusername" style="color:red" hidden>Nhập tên tài khoảng</label>
                    <input type="text" placeholder="Tên tài khoảng" id="username" class="form__input-user" required>
                </div>

                <div class="user-password">
                    <p class="form__password">Mật khẩu</p>
                    <label class="form__password" id="notifypassword" style="color:red;" hidden>Nhập mật khẩu</label>
                    <input type="password" placeholder="Mật khẩu" id="password" class="form__input-password" required>
                </div>

                <!-- forgot password-->

                <div class="zxc">
                    <!-- remember password-->
                    <div class="remember">
                    </div>
                    <button class="btn btn--login" onclick="login()">Đăng nhập</button>
                </div>
                <p class="login">
                    Bạn chưa có tài khoảng?
                    <a href="/Login/Register">Đăng ký</a>.
                </p>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.6.4.min.js"></script>
    <script src="~/access/js/popper.min.js"></script>
    <script src="~/boostrap/js/bootstrap.min.js"></script>
    <script src="~/access/js/login.js"></script>
</body>

</html>
